@media only screen and (max-width: 768px) {
	
	.main {
		padding: 10px;
	}

	.modal-window .btn {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {

}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force custom table to not be like tables anymore */
	.custom-table, .custom-table thead, .custom-table tbody, .custom-table th, .custom-table td, .custom-table tr { 
		display: block; 
	}

	.custom-table {
		border: solid 2px #000;
		clear: both;
	}
	
	/* Hide table headers */
	.custom-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.custom-table tr { border-bottom: 1px solid #000; }

	.custom-table tr:last-child { border-bottom: none; }

	.custom-table td, th { 
		text-align: left;
	}
	
	.custom-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #000; 
		position: relative;
		padding-left: 50%; 
	}
	
	.custom-table td:before { 
		/* Now like a table header */
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		font-weight: 700;
	}
	
	/* Label the data */
	.custom-table td:nth-of-type(1):before { content: "Номер заказа"; }
	.custom-table td:nth-of-type(2):before { content: "Имя"; }
	.custom-table td:nth-of-type(3):before { content: "Адрес"; }
	.custom-table td:nth-of-type(4):before { content: "Телефон"; }
	.custom-table td:nth-of-type(5):before { content: "Товар"; }
	.custom-table td:nth-of-type(6):before { content: "Тайм аут Дни"; }
}